.row
  .jumbotron
    %h1 ResumeBot
    .col-lg-6.right_aside
      = link_to image_tag("robot2.png", alt: "Resume Bot", class: "img-rounded")
      .row
        .well.col-lg-12.right-aside
          %h2
.row
  .col-lg-4.well.right-aside
    %h1 One Resume
    %h2 To Rule Them All
