.well
  .well
    %p
      %strong
        %span &nbsp;
    %p
      %strong
        %span
          Job
          Description
    %p
      %span
        The Wellspring Group is working with a number
        of new start-ups.&nbsp; We are helping them
        build their teams, and are searching for
        %span#keyword Ruby on Rails Developers
        that are excited at the prospect of a ground floor opportunity and really helping a
        company develop and grow.
    %p
      %strong
        %span
          %br/
    %p
      %strong
        %span Success Factors
    %p
      %span
        \&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %span
        You are a
        %span.jobs#keyword self-starter
        , with strong
        %span#keyword problem solving
        skills and a great sense of
        %span#keyword curiosity.
    %p
      %span
        \&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %span
        You have
        strong
        %span#keyword Ruby on Rails
        development experience.
    %p
      %span
        \&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %span
        You have a
        %span#keyword start-up mentality
        and are excited to break new ground.
      %strong
        %span
      %span
        %p{:align => "center", :style => "text-align: center"}
          %strong
            %em
              %span

        %p
          %span &nbsp;
      %p{:align => "center", :style => "text-align: center"}
