.text_label {
  color: black;
  font-size: 1em;
}

.center{
  text-align: center;

}

.left-aside{
  /*background-color: white;*/
  text-align: center;
  float: left;
}

.skill{
  font-size: 1.5em;
}


.right-aside{
  text-align: center;
  float: right;
}



.contact{
  /*background-color: gray;*/
/*}*/

/**#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#selectable li { margin: 5px; padding: 0.9em; font-size: 1.4em; height: 18px; }*/
