.well.col-lg-12
  .resumeForm
    %h1 My Resumes
    %br
    %p.sectionEnd
    -@resumes.each do |resume|
      = radio_button :single_use, true, { class: 'btn btn-primary' }, display: 'none'
      = link_to resume.title, resume_path(resume.id)
      %p
      %br
    = button_tag "Export HTML", class: "btn btn-default"
    = button_tag "Export PDF", class: "btn btn-default"
