%h1 Choose Elements to Add to Your Resume

%h3 Skills
=form_tag resumes_create_path, :method => :post do
  %ul
    - for skill in @master.skills
      %li
        = check_box_tag "skill_ids[]", skill.id
        = skill.name
  = submit_tag "Add to Resume"
